<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.simone.bookyoulove">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_open_book"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_open_book_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme.BookYouLove">

        <activity
            android:name=".view.GuessTheQuoteActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".widgets.QuoteOfTheDayWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="it.simone.bookyoulove.QUOTE_OF_THE_DAY_FAVOURITE_SWITCH_INTENT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quote_of_the_day_widget_info" />
        </receiver>

        <service
            android:name=".widgets.QuoteOfTheDayWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name=".providers.QuotesProvider"
            android:authorities="it.simone.bookyoulove.providers"
            android:exported="true"
            android:permission="it.simone.bookyoulove.providers.READ_WRITE" />

        <activity
            android:name=".view.MainActivity"
            android:windowSoftInputMode="adjustPan">

            <!-- Permette di evitare che la bottomBar vada sopra la tastiera -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr,barcode" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>